<section class="no-padding" id="categories">
	<div class="container-fluid">
		<%= link_to searches_path do %>
			<div class="row no-gutter">
				<div class="col-lg-4 col-sm-6">
					<div class="category-box">
						<%= image_tag "homepage/category/1.jpg", class: "img-responsive", alt: "" %>
						<div class="category-box-caption">
							<div class="category-box-caption-content">
								<div class="category-name">
									Coaching and Hobby Classes
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6">
					<div class="category-box">
						<%= image_tag "homepage/category/2.jpg", class: "img-responsive", alt: "" %>
						<div class="category-box-caption">
							<div class="category-box-caption-content">
								<div class="category-name">
									Boutiques
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6">
					<div class="category-box">
						<%= image_tag "homepage/category/3.jpg", class: "img-responsive", alt: "" %>
						<div class="category-box-caption">
							<div class="category-box-caption-content">
								<div class="category-name">
									Doctors and Medical Services
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6">
					<div class="category-box">
						<%= image_tag "homepage/category/4.jpg", class: "img-responsive", alt: "" %>
						<div class="category-box-caption">
							<div class="category-box-caption-content">
								<div class="category-name">
									Chartered Accountants and Financial Consultants
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6">
					<div class="category-box">
						<%= image_tag "homepage/category/5.jpg", class: "img-responsive", alt: "" %>
						<div class="category-box-caption">
							<div class="category-box-caption-content">
								<div class="category-name">
									Salons and Beauty Parlours
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6">
					<div class="category-box">
						<%= image_tag "homepage/category/6.jpg", class: "img-responsive", alt: "" %>
						<div class="category-box-caption">
							<div class="category-box-caption-content">
								<div class="category-name">
									And many more categories at Huburb.
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</section>
